.popular-heading {
  font-family: 'Roboto';
  font-weight: 700;
  color: white;
  align-self: flex-start;
  font-size: 18px;
  padding: 10px;
  background-color: #244282;
}

.popular-container {
  display: flex;
  justify-content: center;
}

.width-container {
  width: 90%;
}

.movies-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #dfe5f2;
  padding: 10px;
}

.loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
