.nav-container {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 2px;
  height: 80px;
}

.title {
  color: #3492eb;
  font-family: 'Roboto';
}

.routes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

li {
  list-style-type: none;
}

.link-component {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  color: black;
  font-size: 16px;
}

.input {
  width: 350px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 35px;
  padding: 10px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 2px solid grey;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid grey;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

*:focus {
  outline: none;
}

.search-button {
  border: none;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  outline: none;
}
