.footer-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #84b3f0;
  height: 60px;
}

.prev-button {
  font-family: 'Roboto';
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
  outline: none;
}

.page-number {
  color: black;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
}
